/* This is a css file to set up some default styles that might change or not */

/* Colors */

:root {
  --primary: #1c7437;
  --secondary: #941d0a;
  --yellow-submarine: #3b895a;
  --white: #fff;
  --black: #000;
}