/* to make the navbar open full screen on mobile */
@media (max-width: 1200px) {
  #navbarSupportedContent {
    margin-top: 5rem;
  }

  #responsive_menu ul {
    padding: 0;
  }

  #responsive_menu .menu-item {
    text-align: center;
    font-family: 'adelle-sans', sans-serif;
    list-style-type: none;
    padding: .7rem 0;
  }

  #responsive_menu .menu-item a {
    border: none;
    color: #000
  }

  #navbarSupportedContent .input-group {
    align-items: center !important;
    justify-content: center;
  }

  #participe {
    padding: 2rem 1rem;
  }

  #participe .participe-wrapper {
    flex-direction: column;
    gap: 0;
  }

  #participe .image-box img {
    width: 150px;
  }

  #participe .text-box h2 {
    font-size: 2rem;
  }

  #participe .participe-heading {
    justify-content: center;
  }
}

/* to make the navbar open full screen on mobile */
@media (max-width: 768px) {
  #responsive_menu .navbar-collapse {
    height: 100vh;
  }

  #description h2 {
    font-size: 3rem;
  }

  #participe .participe-wrapper {
    gap: 3rem;
  }

  .eixo-box {
    height: 330px;
  }

  #description > div {
    padding: 3rem 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1024px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #desktop_menu {
    display: block;
  }

  #responsive_menu {
    display: none
  }

  .eixos > h2 {
    font-size: 3.9rem;
  }

  .description-wrapper {
    padding: 0 4rem;
    flex-direction: row;
  }

  .eixos-wrapper {
    flex-direction: row;
  }

  .box {
    width: 33.5%
  }
}

@media only screen and (min-width: 1400px) {
  .description-wrapper {
    padding: 0 2rem;
  }

  .description p {
    font-size: 1.25rem;
  }
}